<ion-view view-title="Entrada">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="e in entrada" type="item-text-wrap" href="#/tab/entrada/{{e.id}}">
        <img ng-src="{{e.imagem}}">
        <h2>{{e.nome}}</h2>
        <p>{{e.descricao}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(e)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
