<ion-view view-title="Bebidas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="b in bebidas" type="item-text-wrap" href="#/tab/bebidas/{{b.id}}">
        <img ng-src="{{b.imagem}}">
        <h2>{{b.nome}}</h2>
        <p>{{b.descricao}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(b)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
